SECRET_KEY=
DEBUG=true
ALLOWED_HOSTS=localhost,127.0.0.1
AI_ASSISTANT_ENABLED=false
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=db
POSTGRES_PORT=5432
DEMO_ADMIN_PASSWORD=
DEMO_RA_PASSWORD=
DEMO_STAFF_PASSWORD=
AUDIT_HMAC_KEY=
AUDIT_HMAC_KEYS=
AUDIT_ACTIVE_KEY_ID=
SIGNATURE_HMAC_KEY=
AUDIT_RETENTION_DAYS=2555
PRIVATE_MEDIA_ROOT=
ATTACHMENT_MAX_SIZE=20971520
ATTACHMENT_MAX_FILES_PER_USER=1000
ATTACHMENT_MAX_UNCOMPRESSED_SIZE=104857600
ATTACHMENT_MAX_COMPRESSION_RATIO=100
CLAMAV_HOST=
CLAMAV_PORT=3310
CLAMAV_SCAN_MAX_ATTEMPTS=3
CLAMAV_SCAN_BACKOFF_SECONDS=30
OBJECT_STORAGE_BUCKET=
OBJECT_STORAGE_KMS_KEY_ID=
SIGNED_URL_EXPIRY_SECONDS=300
AUDIT_EXPORT_MAX_ATTEMPTS=5
AUDIT_EXPORT_BACKOFF_SECONDS=60
AUDIT_JSONL_EXPORT_PATH=
